<aside>
<div class="top">
    <div class="logo">
        <img src="/assets/img/logo.png" alt="">
        <h2>BACK<span class="dark">TRACK</span></h2>
    </div>
    <div class="close" id="close-btn">
        <span class="material-icons-sharp">close</span>
    </div>
</div>
<div class="sidebar">
    <a href="/painel">
        <span class="material-icons-sharp">grid_view</span>
        <h3>Painel</h3>
    </a>
    <a href="/cliente">
        <span class="material-icons-sharp">person_outline</span>
        <h3>Clientes</h3>
    </a>
    <a href="/agendamento">
        <span class="material-icons-sharp">event</span>
        <h3>Agendamentos</h3>
    </a>
    <a href="/sala">
        <span class="material-icons-sharp">receipt_long</span>
        <h3>Salas</h3>
    </a>
    <a href="/equipamento">
        <span class="material-icons-sharp">inventory</span>
        <h3>Equipamentos</h3>
    </a>
    <a href="/relatorio">
        <span class="material-icons-sharp">description</span>
        <h3>Relatório</h3>
    </a>
    <a href="/graficos">
        <span class="material-icons-sharp">equalizer</span>
        <h3>Gráficos</h3>
    </a>
    <a href="/configuracoes">
        <span class="material-icons-sharp">settings</span>
        <h3>Configurações</h3>
    </a>
    <a href="/login/logof">
        <span class="material-icons-sharp">logout</span>
        <h3>Sair</h3>
    </a>
</div>
</aside>