main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .insights .sales svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 2s ease;
    stroke-width: 1em;
    stroke: #737fec11;
}

main .insights .expenses svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 2s ease;
    stroke-width: 1em;
    stroke: #737fec11;
}

main .insights .income svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 2s ease;
    stroke-width: 1em;
    stroke: #737fec11;
}

  #svg #bar, #bar1, #bar2 {
    stroke: var(--color-primary);
  }